.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--tertiary-color);
  gap: 1em;
}

.container > * {
  flex: 1 1 0;
}

.button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: inherit;
}

.clear-tasks {
  text-align: right;
}

.desktop-filters {
  display: none;
}

@media (min-width: 768px) {
  .desktop-filters {
    display: flex;
  }
}
