.filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--tertiary-color);
}

.button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: inherit;

  transition: 0.2s linear;
}

.button:hover {
  color: var(--secondary-color);
}

.active {
  color: var(--filter-active);
}
