.title {
  color: var(--secondary-color);
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
  flex: 1;
  max-width: 200px;
}

.completed {
  color: var(--completed-task);
  text-decoration: line-through;
}

.delete {
  margin-left: auto;
  cursor: pointer;
}

@media (min-width: 768px) {
  .title {
    max-width: 400px;
  }
}
