.checkbox {
  display: inline-block;
  width: var(--spacing-300);
  height: var(--spacing-300);
  border-radius: 50%;
  border: 1px solid var(--primary-border);
  cursor: pointer;
}

.checkbox:hover:not(.completed) {
  background: linear-gradient(var(--primary-color) 0 0) padding-box, var(--gradient-1) border-box;
  color: #313149;
  border: 1px solid transparent;
  border-radius: 50%;
  display: inline-block;
}

.completed {
  background: var(--gradient-1);
}
