.container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: var(--spacing-300);
  background: transparent;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  color: var(--gray-600);
  font: inherit;
}
