.container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: var(--spacing-300);
  padding: var(--spacing-300);
  border-radius: 5px;
  background: var(--color-white);
  box-shadow: 0 35px 50px -15px rgba(25, 25, 25, 0.5);
}

.checkbox {
  width: var(--spacing-300);
  height: var(--spacing-300);
  border-radius: 50%;
  border: 1px solid var(--purple-300);
}

.input {
  border: none;
  outline: none;
  background: transparent;
  color: var(--gray-600);
  font: inherit;
}
