.container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: var(--spacing-300);
  background: transparent;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  color: var(--gray-600);
  font: inherit;
}

.checkbox {
  display: inline-block;
  width: var(--spacing-300);
  height: var(--spacing-300);
  border-radius: 50%;
  border: 1px solid var(--purple-300);
  cursor: pointer;
}
