body {
  background: var(--main-bg);
}

.container {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-500);
}

.reorder-hint {
  color: var(--tertiary-color);
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    min-width: 540px;
  }
}
