body {
  background: var(--main-bg);
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-500);
}

@media (min-width: 768px) {
  .container {
    min-width: 540px;
  }
}
