*,
html,
body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

:root {
  /* VARIABLES */
  --white: #fff;

  --purple-100: #e3e4f1;
  --purple-300: #c8cbe7;
  --purple-600: #5b5e7e;
  --purple-700: #4d5067;
  --purple-800: #393a4b;

  --gray-50: #fafafa;
  --gray-300: #d1d2da;
  --gray-600: #9495a5;

  --navy-850: #494c6b;
  --navy-900: #25273d;
  --navy-950: #171823;

  --blue-500: #3a7cfd;

  --gradient-1: linear-gradient(165deg, #55ddff 0%, #c058f3 100%);
  --gradient-2: linear-gradient(165deg, #3710bd 0%, #a42395 100%);

  --spacing-0: 0rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;

  --font-size-1: 1.125rem;
  --font-size-2: 0.875rem;
  --font-size-3: 0.75rem;
  --font-regular: 400;
  --font-bold: 700;
  --font-line-height: 1;
  --font-letter-spacing: -0.25px;

  /* Semantic Light mode variables */
  --primary-color: var(--white);
  --secondary-color: var(--navy-850);
  --tertiary-color: var(--gray-600);
  --primary-border: var(--purple-300);
  --completed-task: var(--gray-300);
  --main-bg: var(--gray-50);
}

/*
* DARK THEME
*/
:root.dark {
  --primary-color: var(--navy-900);
  --secondary-color: var(--purple-100);
  --tertiary-color: var(--purple-600);
  --primary-border: var(--purple-800);
  --completed-task: var(--purple-700);
  --main-bg: var(--navy-950);
}

/**
* CSS CLASS PRESETS
*/

.text-preset-1 {
  font-size: var(--font-size-1);
  font-weight: var(--font-regular);
  line-height: var(--font-line-height);
  letter-spacing: var(--font-letter-spacing);
}

.text-preset-2 {
  font-size: var(--font-size-2);
  font-weight: var(--font-regular);
  line-height: var(--font-line-height);
  letter-spacing: var(--font-letter-spacing);
}

.text-preset-3 {
  font-size: var(--font-size-2);
  font-weight: var(--font-bold);
  line-height: var(--font-line-height);
  letter-spacing: var(--font-letter-spacing);
}

.text-preset-4 {
  font-size: var(--font-size-3);
  font-weight: var(--font-regular);
  line-height: var(--font-line-height);
  letter-spacing: var(--font-letter-spacing);
}
